global
    maxconn 200000

defaults
    mode http

backend api_backend
    balance leastconn
    option httpchk GET /health

    server api1 10.0.1.11:3000 check
    server api2 10.0.1.12:3000 check
    server backup1 10.0.2.11:3000 check backup
